
body{
	background-image: url("./img/background.jpg");
	background-repeat: repeat;
	
	font-family: "Arial Light" !important;
	font-size: 15px !important;
}

#wrapper {
    margin: 15px auto;
	padding-top:15px;
	padding-bottom:15px;
    max-width: 1024px;
    box-shadow: 8px 8px #999;
	background-color:rgba(255,255,255, 0.8); /* Light grey, 50% transparent */
}
#header>.row {
    height: 100%;
}
#logoContainer {
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
    border-color: purple;
    overflow: hidden;
}
#logoContainer img {
    max-height: 80px;
	max-width: 100%;
}
#content {
    border-color: green;
    min-height: 300px;
}

.clearer{
	clear: both; /* see http://stackoverflow.com/questions/19354845/div-has-no-height-even-if-it-has-content */
}

#descriptionContainer{
    padding:15px;
}

.homeHistRow {
    background-color:#ddd;
    margin-bottom:30px;
    padding:15px 0 15px 0;
    box-shadow: 5px 5px #bbb;
}

.homeHistRow img{
	max-width:100%;
	max-height:100%;
    
    border-style: solid;
    border-color:#bbb;
    border-width:2px;
}

.homeHistRow .description{
    font-size: 1.5em;
}

#productImgs td{
    text-align:center;
}
#productImgs img{
    max-height:100%;
}

#map{
    height:400px;
}

.right {
	float:right;
}
.left {
	float:left;
}

#footer hr{
	border-style:solid;
	border-color:#AAA;
}